

.high-score {
    text-align: Left;
    float: left;
    display: flex;
    color: blueviolet;
}


.time {
   text-align: right;
    float: right;
    display: flex;
}


.questions {
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.btn {
    align-items: center;
    display: flex;
    justify-content: center;
}

.begin {
    background-color: darkslateblue ;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


.initials {
    text-decoration: underline;
}